extends layout
block content
	h1 #{title}
	p Genre to delete: #{genre.name}
	if books.length
		p #[strong Delete the following books before attempting to delete the genre]
		div(style="margin-left: 20px; margin-top: 20px")
			h4 Books
			ul
				each book in books
					li
						a(href=book.url) #{book.title}
						p #{book.summary}
	else
		p Do you really want to delete the given genre?
		form(method="POST" action="")
			div.form-group
				input#genreid.form-control(type="hidden", name="genreid", required="true", value=genre._id)
				button.btn.btn-primary(type="submit") Delete
